@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f0ebeb ;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 10px 20px;
  background-color: #2563eb; /* blue */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

button:hover {
  background-color: #1e40af; /* darker blue */
}

button:active {
  transform: scale(0.97);
}
